@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Merriweather", serif;
  scroll-behavior: smooth;
  margin-top: 5rem;
}

body {
  margin-top: 20rem;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #e5e5e1;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  color: #181817;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 3rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#page {
  width: 90%;
  margin: 2rem auto;
}

#home {
  margin: 3rem auto;
  max-width: 50rem;
  text-align: center;
}

#home img {
  width: 8rem;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 #181817;
}

#home h1 {
  margin-top: 3rem;
  font-size: 1.9rem;
  color: #181817;
}

#home p {
  margin: 2rem 0;
  color: #181817;
  font-size: 1.1rem;
}

#home a {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #bcbcb7;
  color: #181817;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 2rem;
  transition: 0.5s;
}

#home a:hover {
  background-color: #181817;
  color: white;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.762);
  display: flex;
  justify-content: center;
  align-items: center;
}

.x-elem {
  position: relative;
}

.X {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: 1.4rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  cursor: pointer;
  transition: 0.5s ease, -webkit-text-fill-color 0.5s ease, transform 0.3s ease;
}

.X:hover {
  background: -webkit-linear-gradient(#ea1414, #d0c6c6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);
}

.modal img {
  border-radius: 4px;
  background: none;
  border: none;
  max-width: 25rem;
  width: 100%;
}

.modal {
  border-radius: 15px;
}

.modal h2,
.modal h1 {
  margin: 0;
}

#archive-filter {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  width: 61rem;
  margin: 0 auto;
  border-bottom: 2px solid #b0b0a6;
}

.error {
  text-align: center;
  margin-top: 3rem;
}

@media (max-width: 768px) {
  #archive-filter {
    width: 22rem;
  }

  h1 {
    color: #181817;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  #archive-filter {
    padding-bottom: 0.5rem;
    border-bottom-width: 1px;
  }
}
